name: CI - Forum API

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: forumapi_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      TZ: UTC

      # DB untuk test (dipakai pool.js via PG*_TEST)
      PGHOST_TEST: localhost
      PGPORT_TEST: 5432
      PGUSER_TEST: postgres
      PGPASSWORD_TEST: postgres
      PGDATABASE_TEST: forumapi_test

      # Untuk node-pg-migrate (npm run migrate)
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/forumapi_test

      # Konfigurasi JWT & bcrypt (harus ada biar @hapi/jwt nggak error)
      ACCESS_TOKEN_KEY: d60f13c865cafc7653befc6c4663b5509215b7393a9265aa0cd0aabd9d15072e098072ea1f8607b4068d3a9c320fcd35
      REFRESH_TOKEN_KEY: f439c714d37e2d2e7767cbac7f72a46708f87a3b37fe023046d988aa82335de8a624505cfe10f37d2c774d5977f0d914
      ACCESS_TOKEN_AGE: 3000
      BCRYPT_SALT_ROUNDS: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run DB migrations (test)
        run: npm run migrate

      - name: Run Jest tests
        run: npm test
